[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchain-google-genai = "*"
langchain-community = "*"
streamlit = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
